* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
}

.card {
    background-color:white;
    border-radius: 12px;
    padding : 50px 50px ; 
    text-align: center;
}

#ticket-price {
    padding-top: 20px;
    line-height: 1.5;
    color: #0d47a1;
}